*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33,33,33,0.98);
}

.title {
  color: #fff;
}

.canvas {
  display: none;
  border-radius: 6px;
  margin-top: 5px;
}

.start-game {
  padding: 10px 15px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  background-color: #dae9f6;
  color: #296fa8;
  margin-top: 10px;

  &:hover {
    background-color: #e4eff9;
    color: #296fa8;
  }
}

.select-level {
  margin-top: 10px;
}

.game {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #fff;

  &__count-bomb {
    margin-top: 5px;
  }

  &__time {
    margin-top: 5px;
  }
}